body{
    background: #333;
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: inherit;
}
body, button, input{
    font-family: sans-serif;
}
ul{padding: 0 20px}
#booksBox{
    position: relative;
}
#backgroundFone{
    background: #000d;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#backImg{
    width: 100%;
    height: 100%;
}
@keyframes loadingAnimation {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(359deg)}
}
#loading{
    animation: loadingAnimation 1s linear infinite;
    position: relative;
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
}
.d_flex{display: flex}
@keyframes popupPushBoxAnim {
    from{opacity: 0}
    to{opacity: 1}
}
#popupPushBox{
    animation: popupPushBoxAnim 500ms;
    width: 100vw;
    height: 100vh;
    background-color: #000e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#popupAppeal{
    width: 50%;
    padding: 10px;
    background-color: #fffb;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#mainBox{
    min-width: 360px;
    width: 80%;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #ddd;
    display: grid;
}
#bookNameInp{
    font-size: 17px;
    border-radius: 5px;
    border: 0;
    background: rgba(255,255,255,.4);
    padding: 5px;
}
#bookNameInp:focus{outline: none;}
.btn_true{
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
    padding: 5px 10px;
    font-weight: bold;
    border: 0;
    background: #59b459;
    border-radius: 5px;
    box-shadow: 0 0 4px #59b459;
    transition: 300ms;
}
.btn_true:hover{box-shadow: 3px 3px 10px #59b459;}

.btn_false{
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
    padding: 5px 10px;
    font-weight: bold;
    border: 0;
    background: #b45959;
    border-radius: 5px;
    box-shadow: 0 0 4px #b45959;
    transition: 300ms;
}
.btn_false:hover{box-shadow: 3px 3px 10px #b45959;}

@keyframes booksArrBoxShowAnimation {
    from{max-height: 0}
    to{max-height: 65vh}
}
#booksArrBox{
    animation: booksArrBoxShowAnimation 500ms;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 65vh;
}
.booksSeriesButton{
    cursor: pointer;
    margin: 5px 0;
    background: transparent;
    color: #6f6ff5;
    font-weight: bold;
    font-size: 17px;
    border: 3px solid;
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
    text-align: start;
}
.booksSeriesButton:hover{box-shadow: 2px 2px 7px #6f6ff5}
.booksButton{
    cursor: pointer;
    margin: 5px 0;
    background: transparent;
    color: #5ac35a;
    font-weight: bold;
    font-size: 17px;
    border: 3px solid;
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
    text-align: start;
}
.booksButton:hover{box-shadow: 2px 2px 7px #5ac35a}
