<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body style="background-image: url('{{ url_for("static", path="img/books_.svg") }}')">
<span id="backgroundFone"></span>
    <div id="popupPushBox">
        <div id="popupAppeal">
            <h3>Данное приложение ищет книги по написанному названию из бесплатных источников.</h3>
            <h3>Напишите название в строке и нажмите найти, после чего вы увидете все найденные книги которые можете читать через приложение или скачать на устройство.</h3>
            <div class="d_flex">
                <button class="btn_false" onclick="cloeAndBlock_popupAppeal(this)">Больше не показывать</button>
                <button class="btn_true" onclick="close_popupAppeal(this)">Закрыть</button>
            </div>
        </div>
    </div>
    <div id="mainBox">
        <h3>Напишите название книги.</h3>
        <input type="text" id="bookNameInp" placeholder="Название">
        <button class="btn_true" onclick="searchBook(this)">Искать</button>
        <div id="booksBox">
            <p id="booksBoxText">Результатов нету.</p>
            <img id="loading" src="{{ url_for("static", path="img/loading.png") }}" style=" display: none;">
            <div id="resaultBox"></div>
        </div>
    </div>

    <script src="{{ url_for('static', path='js/main.js') }}"></script>
</body>
</html>