<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>
    <div id="mainBox">
        <h3>Напишите название книги.</h3>
        <input type="text" id="bookNameInp" placeholder="Название">
        <button id="searchBtn">Искать</button>
    </div>
</body>
</html>